<div class="container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of movies$ | async">
        <div class="card mb-4" style="width: 18rem;" (click)="goToMovieDetails(movie.id)" style="cursor: pointer;">
          <img [src]="movie.imgURL" class="card-img-top movie-imgURL" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  